# Ignore o projeto TeamX.App
TeamX.App/

# Visual Studio
.vs/
**/.vs/

# Build
bin/
obj/

# User files
*.user
*.suo
*.sln.docstates

# Environment
.env
appsettings.Development.json

# Publish
publish/

# Logs
Logs/
*.log
TeamX.API/Logs/